<div class="ui inverted fixed menu">
  <div class="ui secondary pointing menu">
    <a [routerLink]="['Home']" class="item" >
      <img src="resources/static/pic/logo.png" />
    </a>
    <a [routerLink]="['Home']" class="item">
       <h2>Lagoon</h2>
    </a>
    <a [routerLink]="['Home']" class="item" >
       Home
    </a>
  </div>
  <div class="right menu">
    <a *ngIf="!loginService.checkLogin()" class="item" [routerLink]="['Register']">
      Register
    </a>
    <a class="item" [routerLink]="['Login']" (click)="onClick()">
      {{loginService.checkLogin()? 'Logout' : 'Login'}}
    </a>
  </div>
</div>
